/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: silver;
}

button {
  background-color: cornflowerblue;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
} 

 p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

.logoLogin {
  width: min-content;
  height: min-content;

}
.section-content {
  padding: 1.4em;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}


.messagesList {
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
}

.event-container-cards:first-child {
  font-weight: bold;
  font-size: large;
}

.event-container-cards {
  max-width: 40em;
  padding: 4px;
  margin: 2em auto;
  border: 0 none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background: aliceblue;
}

.inside-event-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

button#showHiddenEventsButton { 
  background-color: cornflowerblue;
  color: cornsilk;
}
